header {
    height: 80px;

    .header_drop {
        width: 20px;
        height: 0px;
        background-color: aqua;
        left: 85.5px;
        border-radius: 50%;
        animation: drop_effect2 8s linear infinite both;
        filter: drop-shadow(0 1px 0px rgb(175, 175, 175));
    }

    @keyframes drop_effect2 {

        0% {
            top: 45px;
            border-radius: 50% 48% 47% 51%;
        }

        10% {
            border-radius: 46% 48% 50% 51%;
        }

        20% {
            border-radius: 52% 50% 47% 50%;
        }

        30% {
            border-radius: 50% 53% 54% 47%;
        }

        40% {
            border-radius: 48% 48% 52% 51%;
        }

        50% {
            width: 20px;
            top: 65px;
            height: 30px;
            border-radius: 47% 50% 51% 48%;
        }

        60% {
            height: 20px;
            border-radius: 51% 47% 52% 50%;

        }

        70% {
            width: 18px;
            height: 20px;
            top: calc(100vh + 80px);
            border-radius: 50%;
            border-radius: 50% 48% 47% 51%;
        }

        100% {
            width: 18px;
            height: 50px;
            top: 100vh;
            border-radius: 50%;
        }


    }

    img {
        left: -10px;
        top: -8px;
        background-color: white;
        transform: rotatey(180deg);
        filter: contrast(1), saturate(1);
    }

    .game_title {
        position: relative;
        z-index: 3;
        text-align: end;
        text-shadow: 2px 3px 3px #ffe4c4;
        filter: drop-shadow(0 0 30px rgba(61, 61, 61, 0.686));
    }
}