@use "./partials/utilities.scss" as *;
@use "./partials/header.scss" as *;
@use "./partials/main_board.scss" as *;



// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rock+Salt&display=swap');

html {
    overflow: hidden;
}

body {
    // font-family: 'Indie Flower', cursive;
    position: relative;
    font-family: 'Rock Salt', cursive;
    overflow: hidden;
    user-select: none;

}

* {
    touch-action: none;
}